.header-title {
	font-size: 32px;
	font-family: monospace;
	letter-spacing: 0.01em;
	font-weight: bold;
	color: #1a1a1a;
	transition: opacity 0.15s ease;
	line-height: 0.9;
}

.header-buttons-title {
	font-size: 13px;
	font-family: monospace;
	letter-spacing: 0.05em;
	font-weight: bold;
	color: #1a1a1a;
	transition: opacity 0.15s ease;
}
