.drawer-tab {
	flex-shrink: 0;
	width: 32px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 6px;
	/* border-left: 1px solid #2a2a2a; */
	box-shadow: inset 1px 0px 3px #2a2a2a;
	z-index: 10;
	user-select: none;
	transition: background 0.15s ease;
}

.drawer-title {
	font-size: 12px;
	font-family: monospace;
	letter-spacing: 0.05em;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	font-weight: bold;
	color: #1a1a1a;
	transition: opacity 0.15s ease;
}
